<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="container">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path("homePage") }}">
                        Home
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path("internshipPage") }}">
                        Internships
                    </a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container">

        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text
                and a mostly barebones HTML document.</p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Ref</th>
                <th>title</th>
                <th>Company</th>
                <th>Available</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr {% for internship in listInternship %}>
                <td>{{ internship.ref }}</td>
                <td>{{ internship.title }}</td>
                <td>{{ internship.company }}</td>
                <td>{{ internship.available }}</td>
                <td>
                    {% if  internship.available == 0 %}
                        <button class="btn btn-sm btn-info" disabled>
                            submit
                        </button>
                    {% endif %}
                    {% if  internship.available != 0 %}
                        <button class="btn btn-sm btn-info">
                            submit
                        </button>
                    {% endif %}
                    <a href="{{ path('showInternship',{'ref':internship.ref, 'company':internship.company }) }}"
                       class="btn btn-sm btn-outline-success">
                        show
                    </a>
                </td>
            </tr {% endfor %}>
            </tbody>
        </table>
        <h2>Number of Internship: {{ listInternship|length }}</h2>
        {% set count=0 %}
        {% for i in  listInternship %}
            {% set count=count + i.available %}
        {% endfor %}
        <h2>Number of available places: {{ count }}</h2>
    </main><!-- /.container -->
</div>


</body>
</html>

